<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="queuePath" value="C:\Users\mbillian\Desktop\FTP\Queue\" />
    <add key="logPath" value="C:\Users\mbillian\Desktop\FTP\Logs\" />
    <add key="ftpPath" value="C:\Users\mbillian\Desktop\FTP\FTP\" />
    <add key="archivePaths" value="" />
    <add key="userNames" value=""/>
    <add key="passwords" value=""/>
    <add key="ftpServer" value=""/>
    <add key="numberDays" value="3" />
    <add key="numberHours" value="1" />
    <add key="notificationRecipients" value="" />
    <add key="notificationSender" value="" />
    <add key="smtpHost" value="" />
    <add key="enableSsl" value="false" />
    <add key="smtpUN" value="" />
    <add key="smtpPW" value="" />
    <add key="smtpPort" value="" />
  </appSettings>
</configuration>
